/* GENERAL */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Trebuchet MS';
    }

    body {
    background-color:antiquewhite
    }
    
    h1 {
      color : whitesmoke;
      background-color : darkolivegreen;
    }

    h2 {
      color : #faf8f1;
      background-color : #c58940;
    }
    
    html {
        scroll-behavior: smooth;
    }

    footer {
      padding-top: 11vh;
      text-align: center;
    }
    
    #appbrewery{
      background-color: #f8c821;
    }
    
    /* SECTIONS */

    section {
      padding-top: 2vh;
      margin: 0 1rem;
      box-sizing: border-box;
      min-height: fit-content;
    }

    .section-container {
      display: flex;
    }
    

    /* TRANSITION */
    a, .btn {
        transition: all 300ms ease;
    }
    a {
        color : seagreen;
        text-decoration: none;
        text-decoration-color: white;
    }

    a:hover {
        color: whitesmoke;
        text-decoration: underline;
        text-underline-offset: .5rem;
        text-decoration-color: darkolivegreen);
    }

    li {
        list-style: none;
    }
    
    .nav-item {
        gap: 2rem;
        font-size: 1.5rem;
    }

    nav {
        color: whitesmoke;
        text-decoration: none;
    }

    .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    .nav-branding {
        font-size: 2rem;
    }

    .nav-links {
        transition: 0.7s ease;
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .container {
        text-align: center;
        width: 150px;
        height: 250px;
        margin: 10px;
    }
    
    #tile1 {
        width: 150px;
        height: 250px;
        margin: 10px;
    }
    
    #tile2 {
        width: 150px;
        height: 250px;
        margin: 10px;
    }

    .tilescontainer {
        body {
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    }
    
    .tilescontainer {
        text-align: center;
    }

    .soundcloudlink{
        padding-top: 33px;
    }

    #aboutpage {
        background-color: black;
    }